{ 
  "extends": "react-native-wcandillon",
  "rules": {
    "import/no-default-export": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "trailingComma": "none"
      }
    ]
  }
} 